# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Database
# -----------------------------
database/
*.db
*.sqlite3

# -----------------------------
# Build & Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Python Test Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# MemoryOffice Local Data
# (Photos, videos and test files)
# -----------------------------
data/*
!data/.gitkeep

# -----------------------------
# Generated Output
# -----------------------------
output/

